<div class="row-12">
  <div class="col-12 table-responsive">
    <table>
      <tbody>
        <tr>
          <th class="", scope="row", style="width: 25%">材料</th>
          <td><%= f.text_field :name %></td>
          <th class="", scope="row", style="width: 25%">数量</th>
          <td><%= f.text_field :quantity %></td>
          <th></th>
          <td><%= link_to_remove_association '削除', f, class: "btn btn-primary mx-auto" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>